$color: #87949e;
$ff: "Proxima Nova", Arial sans-serif;
$fs: 17px;
$max-w: 1600px;

body {
  width: 100%;
  max-width: $max-w;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-space {
  background-color: #111111;
  background-image: url("../img/space.png");
  width: 100%;
}

.block1 {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 100px;
}

.block1-menu a {
  text-decoration: none;
  color: #ffffff;
  font-family: Raleway, Arial sans-serif;
  font-size: 18px;
  padding: 15px;

}

.block1-content {
  text-align: center;
  font-family: "Proxima Nova", Arial sans-serif;
  font-size: 24px;
}

.b1-h1 {
  color: #ffffff;
  font-family: Raleway, Arial sans-serif;
  font-size: 60px;
}

.b1-h2 {
  color: #ffffff;
  font-family: "Proxima Nova", Arial sans-serif;
  font-size: 24px;
  margin-top: 100px;
  margin-bottom: 100px;

}

.slider {
  color: #ffffff;
  font-size: 50px;
  text-decoration: none;
  border-radius: 50px;
}

.slider:hover {
  background-color: cadetblue;
}

.headline {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

.nav-a {
  text-decoration: none;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  width: 183px;
  height: 47px;
  padding: 10px;

}

.transition {
  border: 2px solid white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  transition: background-color 0.5s ease;
  padding: 10px;
  margin: 10px;
}

.transition:hover {
  background-color: white;
}

.block1-transition {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

